<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669909232922-r39e1gr2200pavor3sm6v8nfvrv6upq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669909232922-r39e1gr2200pavor3sm6v8nfvrv6upq5</string>
	<key>API_KEY</key>
	<string>AIzaSyDslGsRpnPhp56Pe1icGL1s08POQH-U_hA</string>
	<key>GCM_SENDER_ID</key>
	<string>669909232922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-3b2b4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-3b2b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669909232922:ios:0155fe2429bf38ac5a90a3</string>
</dict>
</plist>